body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fa-spinner {
  font-size: 6em;
  position: absolute;
  left: 45%;
  top: 80%;
}

.search--bar--input--hint {
  font-size: 0.7em;
}

.logo-marvel {
  width: 8%;
  margin-bottom: 10px;
  margin-top: 10px
}

.header--home {
  font-size: 0.5em;
  position: absolute;
  /* left: 30%; */
  right: 5%;
}

.header--text, .header--text:hover {
  background-color: #ED1B23;
  text-decoration: none;
  font-family: 'Comics';
  padding: 4px 10px;
  border-radius: 10%;
  color: white;
  font-size: 14px;
}

.banner {
  background-image: url(https://ae01.alicdn.com/kf/HTB1YJonp5FTMKJjSZFAq6AkJpXal.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-left: -15%;
  width: 100vw;
}

.banner p {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.search--bar--input {
  width: 50%;
  margin-left: 25%;
}

.pagination {
  margin-top: 5%;
  justify-content: center;
}

.container--cards {
  margin-left: 10%;
  margin-top: 7%;
}

.card {
  width: 112%;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 3px 2px 5px grey;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-text-not-available {
  padding-bottom: 24px;
}

.card-text {
  text-align: left;
}

.card-img-list {
  height: 250px;
}

.card--img--single {
  width: 100%;
}

.btn-secondary, .btn-secondary:hover {
  background-color: #ED1B23;
  border-color: #ED1B23;
}

.link--to--go, .link--to--go:hover {
  text-decoration: none;
  color: white;
}

.about--hero {
  display: flex;
  padding-top: 5%;
}

.about--hero--description {
  text-align: left;
}

.about--hero--infos {
  text-align: left;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 640px) {
  .banner {
    width: 108vw;
  }
}
