body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fa-spinner {
  font-size: 6em;
  position: absolute;
  left: 45%;
  top: 50%;
}

.search--bar--input--hint {
  font-size: 0.7em;
}

.title {
  height: 100px;
  width: 100%;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.header--home {
  font-size: 0.8em;
}

.search--bar--input {
  width: 50%;
  margin-left: 25%;
}

.pagination {
  margin-top: 5%;
}

.card {
  margin-top: 10%;
  margin-left: 4%;
}

.header--text, .header--text:hover, .link--to--go, .link--to--go:hover {
  text-decoration: none;
  color: white;
}

.about--hero {
  display: flex;
  padding-top: 5%;
}